

    <div class="content">
        <div class="container-fluid">
    <div class="page-header">
    <div class="page-title">
    <h4>User List</h4>
    <h6>Manage your User</h6>
    </div>
    <div class="page-btn">
    <a href="newuser.html" class="btn btn-added"><img src="./assets/img/icons/plus.svg" alt="img">Add User</a>
    </div>
    </div>
    
    <div class="card">
    <div class="card-body">
    <div class="table-top">
    <div class="search-set">
    <div class="search-path">
    <a class="btn btn-filter" id="filter_search">
    <img src="./assets/img/icons/filter.svg" alt="img">
    <span><img src="./assets/img/icons/closes.svg" alt="img"></span>
    </a>
    </div>
    <div class="search-input">
    <a class="btn btn-searchset"><img src="./assets/img/icons/search-white.svg" alt="img"></a>
    </div>
    </div>
    <div class="wordset">
    <ul>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="./assets/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="./assets/img/icons/excel.svg" alt="img"></a>
    </li>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="./assets/img/icons/printer.svg" alt="img"></a>
    </li>
    </ul>
    </div>
    </div>
    
    <div class="card" id="filter_inputs">
    <div class="card-body pb-0">
    <div class="row">
    <div class="col-lg-2 col-sm-6 col-12">
    <div class="form-group">
    <input type="text" placeholder="Enter User Name">
    </div>
    </div>
    <div class="col-lg-2 col-sm-6 col-12">
    <div class="form-group">
    <input type="text" placeholder="Enter Phone">
    </div>
    </div>
    <div class="col-lg-2 col-sm-6 col-12">
    <div class="form-group">
    <input type="text" placeholder="Enter Email">
    </div>
    </div>
    <div class="col-lg-2 col-sm-6 col-12">
    <div class="form-group">
    <input type="text" class="datetimepicker cal-icon" placeholder="Choose Date">
    </div>
    </div>
    <div class="col-lg-2 col-sm-6 col-12">
    <div class="form-group">
    <select class="select">
    <option>Disable</option>
    <option>Enable</option>
    </select>
    </div>
    </div>
    <div class="col-lg-1 col-sm-6 col-12 ms-auto">
    <div class="form-group">
    <a class="btn btn-filters ms-auto"><img src="./assets/img/icons/search-whites.svg" alt="img"></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="table-responsive">
    <table class="table datanew dataTable no-footer" id="DataTables_Table_0">
    <thead>
    <tr>
    <th>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </th>
    <th>User name </th>
    <th>Phone</th>
     <th>email</th>
    <th>Role</th>
    <th>Created On</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>Thomas</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3d495552505c4e7d58455c504d5158135e5250">[email&#160;protected]</a> </td>
    <td>Admin </td>
    <td>3/15/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>504Benjamin</td>
    <td>123-456-888</td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b2d1c7c1c6dddfd7c0f2d7cad3dfc2ded79cd1dddf">[email&#160;protected]</a></td>
    <td>Manager </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightred badges">Restricted</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>James 524</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4e242f232b3d0e2b362f233e222b602d2123">[email&#160;protected]</a></td>
    <td>Salesman </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightred badges">Restricted</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>James 524</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2248434f475162475a434f524e470c414d4f">[email&#160;protected]</a></td>
    <td>Salesman </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightred badges">Restricted</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>Bruklin2022</td>
    <td>123-456-888</td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8eecfcfbe5e2e7e0ceebf6efe3fee2eba0ede1e3">[email&#160;protected]</a></td>
    <td>Delivery Biker </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
     </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>BeverlyWIN25</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e18393948a8d888fa18499808c918d84cf828e8c">[email&#160;protected]</a></td>
    <td>Delivery Biker </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>BHR256</td>
    <td>123-456-888</td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="98d0edfafdead8fde0f9f5e8f4fdb6fbf7f5">[email&#160;protected]</a></td>
    <td>Sales Executive</td>
    <td>3/15/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>Thomas</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="abdfc3c4c6cad8ebced3cac6dbc7ce85c8c4c6">[email&#160;protected]</a> </td>
    <td>Admin </td>
    <td>3/15/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>504Benjamin</td>
    <td>123-456-888</td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="aac9dfd9dec5c7cfd8eacfd2cbc7dac6cf84c9c5c7">[email&#160;protected]</a></td>
    <td>Manager </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightred badges">Restricted</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>James 524</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="107a717d7563507568717d607c753e737f7d">[email&#160;protected]</a></td>
    <td>Salesman </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightred badges">Restricted</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>James 524</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="741e1519110734110c15190418115a171b19">[email&#160;protected]</a></td>
    <td>Salesman </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightred badges">Restricted</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>Bruklin2022</td>
    <td>123-456-888</td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6c4d4d3cdcacfc8e6c3dec7cbd6cac388c5c9cb">[email&#160;protected]</a></td>
    <td>Delivery Biker </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>BeverlyWIN25</td>
    <td>+12163547758 </td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="147666617f787d7a54716c75796478713a777b79">[email&#160;protected]</a></td>
    <td>Delivery Biker </td>
    <td>2/27/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td>BHR256</td>
    <td>123-456-888</td>
    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d991acbbbcab99bca1b8b4a9b5bcf7bab6b4">[email&#160;protected]</a></td>
    <td>Sales Executive</td>
    <td>3/15/2022</td>
    <td><span class="bg-lightgreen badges">Active</span></td>
    <td>
    <a class="me-3" href="newuseredit.html">
    <img src="./assets/img/icons/edit.svg" alt="img">
    </a>
    <a class="me-3 confirm-text" href="javascript:void(0);">
    <img src="./assets/img/icons/delete.svg" alt="img">
    </a>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    
    </div>
    </div>