<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0">Dashboard v3</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Dashboard v3</li>
    </ol>
    </div>
    </div>
    </div>
    </div>

    <div class="content">
        <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget">
        <div class="dash-widgetimg">
        <span><img src="assets/img/icons/dash1.svg" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="307144.00">307144</span></h5>
        <h6>Total Purchase Due</h6>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget dash1">
        <div class="dash-widgetimg">
        <span><img src="assets/img/icons/dash2.svg" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="4385.00">4385</span></h5>
        <h6>Total Sales Due</h6>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget dash2">
        <div class="dash-widgetimg">
        <span><img src="assets/img/icons/dash3.svg" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="385656.50">385656.5</span></h5>
        <h6>Total Sale Amount</h6>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
        <div class="dash-widget dash3">
        <div class="dash-widgetimg">
        <span><img src="assets/img/icons/dash4.svg" alt="img"></span>
        </div>
        <div class="dash-widgetcontent">
        <h5>$<span class="counters" data-count="40000.00">40000</span></h5>
        <h6>Total Sale Amount</h6>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count">
        <div class="dash-counts">
        <h4>100</h4>
        <h5>Customers</h5>
        </div>
        <div class="dash-imgs">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das1">
        <div class="dash-counts">
        <h4>100</h4>
        <h5>Suppliers</h5>
        </div>
        <div class="dash-imgs">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das2">
        <div class="dash-counts">
        <h4>100</h4>
        <h5>Purchase Invoice</h5>
        </div>
        <div class="dash-imgs">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das3">
        <div class="dash-counts">
        <h4>105</h4>
        <h5>Sales Invoice</h5>
        </div>
        <div class="dash-imgs">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

    
    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-6">
    <div class="card">
    <div class="card-header border-0">
    <div class="d-flex justify-content-between">
    <h3 class="card-title">Online Store Visitors</h3>
    <a href="javascript:void(0);">View Report</a>
    </div>
    </div>
    <div class="card-body">
    <div class="d-flex">
    <p class="d-flex flex-column">
    <span class="text-bold text-lg">820</span>
    <span>Visitors Over Time</span>
    </p>
    <p class="ml-auto d-flex flex-column text-right">
    <span class="text-success">
    <i class="fas fa-arrow-up"></i> 12.5%
    </span>
    <span class="text-muted">Since last week</span>
    </p>
    </div>
    
    <div class="position-relative mb-4">
    <!-- <canvas id="visitors-chart" height="200"></canvas> -->
 
    <canvasjs-chart [options]="chartOptions"  [styles]="{ width: '100%', height: '200px' }"></canvasjs-chart>  
    </div>
    <div class="d-flex flex-row justify-content-end">
    <span class="mr-2">
    <i class="fas fa-square text-primary"></i> This Week
    </span>
    <span>
    <i class="fas fa-square text-gray"></i> Last Week
    </span>
    </div>
    </div>
    </div>
    
    <div class="card">
    <div class="card-header border-0">
    <h3 class="card-title">Products</h3>
    <div class="card-tools">
    <a href="#" class="btn btn-tool btn-sm">
    <i class="fas fa-download"></i>
    </a>
    <a href="#" class="btn btn-tool btn-sm">
    <i class="fas fa-bars"></i>
    </a>
    </div>
    </div>
    <div class="card-body table-responsive p-0">
    <table class="table table-striped table-valign-middle">
    <thead>
    <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Sales</th>
    <th>More</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <img src="./assets/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
    Some Product
    </td>
    <td>$13 USD</td>
    <td>
    <small class="text-success mr-1">
    <i class="fas fa-arrow-up"></i>
    12%
    </small>
    12,000 Sold
    </td>
    <td>
    <a href="#" class="text-muted">
    <i class="fas fa-search"></i>
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <img src="./assets/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
    Another Product
    </td>
    <td>$29 USD</td>
    <td>
    <small class="text-warning mr-1">
    <i class="fas fa-arrow-down"></i>
    0.5%
    </small>
    123,234 Sold
    </td>
    <td>
    <a href="#" class="text-muted">
    <i class="fas fa-search"></i>
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <img src="./assets/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
    Amazing Product
    </td>
    <td>$1,230 USD</td>
    <td>
    <small class="text-danger mr-1">
    <i class="fas fa-arrow-down"></i>
    3%
    </small>
    198 Sold
    </td>
    <td>
    <a href="#" class="text-muted">
    <i class="fas fa-search"></i>
    </a>
    </td>
    </tr>
    <tr>
    <td>
    <img src="./assets/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
    Perfect Item
    <span class="badge bg-danger">NEW</span>
    </td>
    <td>$199 USD</td>
    <td>
    <small class="text-success mr-1">
    <i class="fas fa-arrow-up"></i>
    63%
    </small>
    87 Sold
    </td>
    <td>
    <a href="#" class="text-muted">
    <i class="fas fa-search"></i>
    </a>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    
    </div>
    
    <div class="col-lg-6">
    <div class="card">
    <div class="card-header border-0">
    <div class="d-flex justify-content-between">
    <h3 class="card-title">Sales</h3>
    <a href="javascript:void(0);">View Report</a>
    </div>
    </div>
    <div class="card-body">
    <div class="d-flex">
    <p class="d-flex flex-column">
    <span class="text-bold text-lg">$18,230.00</span>
    <span>Sales Over Time</span>
    </p>
    <p class="ml-auto d-flex flex-column text-right">
    <span class="text-success">
    <i class="fas fa-arrow-up"></i> 33.1%
    </span>
    <span class="text-muted">Since last month</span>
    </p>
    </div>
    
    <div class="position-relative mb-4">
    <canvas id="sales-chart" height="200"></canvas>
    </div>
    <div class="d-flex flex-row justify-content-end">
    <span class="mr-2">
    <i class="fas fa-square text-primary"></i> This year
    </span>
    <span>
    <i class="fas fa-square text-gray"></i> Last year
    </span>
    </div>
    </div>
    </div>
    
    <div class="card">
    <div class="card-header border-0">
    <h3 class="card-title">Online Store Overview</h3>
    <div class="card-tools">
    <a href="#" class="btn btn-sm btn-tool">
    <i class="fas fa-download"></i>
    </a>
    <a href="#" class="btn btn-sm btn-tool">
    <i class="fas fa-bars"></i>
    </a>
    </div>
    </div>
    <div class="card-body">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
    <p class="text-success text-xl">
    <i class="ion ion-ios-refresh-empty"></i>
    </p>
    <p class="d-flex flex-column text-right">
     <span class="font-weight-bold">
    <i class="ion ion-android-arrow-up text-success"></i> 12%
    </span>
    <span class="text-muted">CONVERSION RATE</span>
    </p>
    </div>
    
    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
    <p class="text-warning text-xl">
    <i class="ion ion-ios-cart-outline"></i>
    </p>
    <p class="d-flex flex-column text-right">
    <span class="font-weight-bold">
    <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
    </span>
    <span class="text-muted">SALES RATE</span>
    </p>
    </div>
    
    <div class="d-flex justify-content-between align-items-center mb-0">
    <p class="text-danger text-xl">
    <i class="ion ion-ios-people-outline"></i>
    </p>
    <p class="d-flex flex-column text-right">
    <span class="font-weight-bold">
    <i class="ion ion-android-arrow-down text-danger"></i> 1%
    </span>
    <span class="text-muted">REGISTRATION RATE</span>
    </p>
    </div>
    
    </div>
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>